[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
pynput = "*"
pyaudio = "*"
gtts = "*"
nltk = "*"
gensim = "==3.8.3"
numpy = "*"
pandas = "*"
cdifflib = "*"
rake-nltk = "*"

[dev-packages]

[requires]
python_version = "3.9"
