body,
html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}

h1 {
    position: fixed;
}

.bg {
    /* The image used */
    background-image: url("../img/26275.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    margin: 0px;
    display: flex;
    background-color: coral;
    color: white;
}

a:link,
a:visited {
    background-color: coral;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
}

a:hover,
a:active {
    background-color: blanchedalmond;
    color: black;
}

.panel {
    background-color: blanchedalmond;
    width: 90%;
    height: 60%;
    top: 25%;
    left: 5%;
    position: fixed;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(26, 26, 26);
    overflow-y: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.question {
    width: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
}

.answer {
    background-color: cornsilk;
    height: 60%;
    width: 90%;
    margin-top: 20px;
    margin-left: 2%;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.answer input[type="text"] {
    position: absolute;
}

.cpButton {
    background-repeat: no-repeat;
    /** disable repeating */
    background-position: center;
    background-color: white;
    /* Green */
    border: none;
    color: black;
    padding: 10px;
    display: inline-block;
    font-size: 50px;
    margin: 2px 40px;
    cursor: pointer;
    border-radius: 60%;
    width: 85px;
    height: 85px;
    background-size: 40px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cpButton:hover {
    background-color: green;
    color: white;
}

.controlpanel {
    bottom: 5px;
    position: fixed;
    right: 36%;
    background-color: rgb(54, 54, 54);
    padding: 20px;
    width: 505px;
    border-radius: 30px;
}

.playButton {
    top: 0%;
    background-color: tomato;
    margin-left: auto;
    margin-right: 0;
    border: none;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    border-radius: 60%;
    width: 55px;
    height: 55px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url(../icons/play-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.playButton:hover {
    background-color: green;
}

#answerplayButton {
    position: fixed;
    top: 75%;
    right: 6%;
}

#queplayButton {
    position: fixed;
    top: 28%;
    right: 6%;
}

.submit {
    visibility: hidden;
    position: fixed;
    right: 10%;
    bottom: 16%;
    background-color: seagreen;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.submit:hover {
    background-color: coral;
}

.result {
    font-size: 30px;
    font-weight: normal;
}

.result ul {
    background-color: rgb(202, 142, 121);
    color: cornsilk;
}

.resultitle {
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    background-color: rgb(130, 187, 130);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#StartTest {
    background-color: coral;
    position: fixed;
    top: 65%;
    right: 45%;
    width: 150px;
    height: 150px;
    font-size: 25px;
    font-weight: bolder;
}

#StartTest:hover {
    background-color: cornsilk;
}

.instruction {
    text-align: center;
    font-size: 60px;
    padding: 20px;
    margin-top: 50px;
    font-weight: bolder;
}

#prevButton {
    background-image: url(../icons/chevron-left-solid.svg);
}

#nextButton {
    background-image: url(../icons/chevron-right-solid.svg);
}

#recordButton {
    background-image: url(../icons/microphone-solid.svg);
}

.recording {
    visibility: hidden;
    display: flex;
    justify-content: center;
    background-color: rgb(78, 78, 78);
    position: fixed;
    top: 10%;
    height: 50px;
    width: 150px;
    color: blanchedalmond;
    font-size: 35px;
    padding: 5px;
}

.recordicon {
    height: 50px;
    width: 50px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-image: url(../icons/record-vinyl-solid.svg);
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.teacher-question-form {
    align-items: center;
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 20px;
}

.form-group {
    padding: 20px;
}

.testno {
    width: 500px;
    height: 200px;
    background-color: aquamarine;
    border-color: black;
    margin: 2px;
    border: 2px;
    text-align: center;
}

.numtest {
    text-align: center;
    padding: 10px;
}

.test-select {
    background-color: black;
    color: aliceblue;
    width: 250px;
    height: 150px;
    right: 45%;
    position: fixed;
    top: 30%;
    font-weight: bolder;
    padding: 20px;
    font-size: 30px;
}