
 {% extends "main.html" %}
  {% block content %}

    <div class="panel">
     <div id="questionPanel" class="question"> Questions......</div>
     <button id="queplayButton" class="playButton">Play</button>
      
     <textarea class="answer" rows="300" cols="100" name="comment" form="usrform">ANSWER: </textarea>
     <button id="answerplayButton" class="playButton">Play</button>
    </div>
    <div class="controlpanel">
    <button id="prevButton" class="cpButton">Prev</button>
    <button id="recordButton" class="cpButton">Record</button>
    <button id="nextButton" class="cpButton">Next</button>
    </div>
    </div>
   {% endblock %}