<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="{% static 'css/mainstyle.css' %}">
    <script src="{% static 'src/main.js' %}"></script>
</head>

<body>
    <div class="bg">
    <nav>
    <ul><a href='./'>Home</a></ul>
    <ul><a href='./about'>Test</a></ul>
    <ul><a href='./'>Result</a></ul>
    <ul><a href='./'>Query</a></ul>
    </nav>
    <div class="panel">
     <div id="questionPanel" class="question"> Q1.What is something ? </div>
     <textarea class="answer" rows="300" cols="100" name="comment" form="usrform"></textarea>
    </div>
    <div class="controlpanel">
    <button id="prevButton" class="cpButton">Prev</button>
    <button id="recordButton" class="cpButton">Record</button>
    <button id="nextButton" class="cpButton">Next</button>
    </div>
    </div>
   
</body>
  
</html>