<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VBADAE-GP2</title>
    <link rel="stylesheet" href="{% static 'css/mainstyle.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'src/main.js' %}"></script>
</head>

<body>
    <div class="bg">
    <nav>
    <ul><a href='/'>Home</a></ul>
    <ul><a href='/test'>Test</a></ul>
    <ul><a href='/result'>Result</a></ul>
    <ul><a href='./'>Query</a></ul>
    <ul><a href='./createtest'>createtest</a></ul>
    <ul><a href='./questionpanel'>questionpanel</a></ul>
    <ul><a href='./testno'>testno</a></ul>
    </nav>

    {% block content %}
    <div class="panel">
    <div class="instruction">
    Welcome Best of luck ! <br>
    Press start to Enter Examination</div>
    <div id="StudentnameBox">
    <label class="" for="">Student Name:</label><br>
    <textarea id="fname"> </textarea>
    </div>
    <button  id="StartTest" class="cpButton" onclick="studen_name_submit()">Start</button>
    </div>
    {% endblock %}
   
    <script>
        
        function studen_name_submit(){
           let fname = document.getElementById("fname").value;
           string = "./testno/"+fname+""
           window.location.href = string;
        
    }
    
      </script>
   
</body>

</html>