<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VBADAE-GP2</title>
    <link rel="stylesheet" href="{% static 'css/mainstyle.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a73d299641.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'src/main.js' %}"></script>
</head>

<body>
    <div class="photo">
        <!-- <i class="fa-solid fa-user"></i> -->
    </div>
    <div class="bg">
        <div class="exam-portal">
            <div class="dashboard">
                <div class="links">
                    <a href="/">Home</a>
                    <a href="/result">Result</a>
                    <a href="#">Grievance</a>
                </div>
                
    
            </div>

    {% block content %}
    <div class="instruction">
    Welcome Best of luck ! <br>
    Press start to Enter Examination</div>
    <div id="StudentnameBox">
    <label class="" for="">Student Name:</label><br>
    <textarea id="fname"> </textarea>
    </div>
    <button class="cpButton" onclick="studen_name_submit()">Start</button>
    {% endblock %}
   
    <script>
        
        function studen_name_submit(){
           let fname = document.getElementById("fname").value;
           string = "./testno/"+fname+""
           window.location.href = string;
        
    }
    
      </script>
   
</body>

</html>