{% extends "main.html" %}

{% block content %}
<style>
  .piechart {
      margin-top: 300px;
      display: block;
      position: absolute;
      width: 400px;
      height: 400px;
      border-radius: 50%;
      background-image: conic-gradient(
          pink 70deg, 
          lightblue 0 235deg, 
          orange 25deg,
          red 50deg);
  
        }

</style>

     <div class="w3-container dtb">
      <table  border="2px" >
        
          <thead>
            <tr>
              <th>Name: {{Studentname}}</th>
            </tr>
           <tr>
              <th>Sr No.</th>
              <th>Question</th>
              <th>Answer</th>
              <th>Marks</th>
              <th>Outof</th>
            </tr>
          </thead>
          <tbody>
            {%  for item in studentResult %}
            <tr>
                <td>{{item.questionNumber}}</td>
                <td>{{item.question}}</td>
                <td>{{item.answer}}</td>
                <td>{{item.total}}</td>
                <td>100</td>
              </tr>
              {% endfor %} 
              <td>Total</td>
              <td></td>
              <td></td>
                <td>{{totals}}</td>
                <td>100</td>
            </tbody>
      </table>
    </div>

</div>
<!--<button id="DownloadResult">Download</button> -->

{% endblock %}